#admin{
    margin-top: 100px;
}
button{
    margin: 10px;
}



/*--------------------------------*/



.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.admin-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.admin-section {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 100px;
}

.admin-heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

.admin-inputs {
    display: flex;
    flex-direction: column;
}

.admin-inputs input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-book-list {
    list-style-type: none;
    padding: 0;
}

.admin-book-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.admin-book-item:last-child {
    border-bottom: none;
}

.admin-remove-button,
.admin-update-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-remove-button {
    background-color: #ff6464;
    color: #fff;
}

.admin-update-button {
    background-color: #4caf50;
    color: #fff;
}

.admin-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.admin-button:hover {
    background-color: #45a049;
}
